*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h1{
  margin: 10px;
  font-family: 'Satisfy', cursive;
}
.container{
  margin: 150px;
  border: 1px solid red;
  position: absolute;
  width: 200px;
  height: 300px;
  border-radius: 15px;
  background-color: black;
  box-sizing: border-box;
  
}
.flex-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}
input{
  width: 198px;
  height: 35px;
  border: 1px solid red;
  border-radius: 15px;
}
.width{
  width: 35px;
  padding: 5px;
  margin: 5px;
  height: 40px;
  background-color: red;
  color: white;
  border: 1px solid black;
  border-radius: 50px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
#delete{
  width:80px ;
}